@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@700&display=swap');

.bg-img {
  object-fit: cover;
  width: 105%;
  height: 108%;
  position: fixed;
  z-index: -1;
  -webkit-filter: blur(2px); 
  filter: blur(2px);
  
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;

}

.hero-container > h1 {
  color: #fff;
  font-size: 150px;
  margin-top: -100px;
  font-family: 'Farro', sans-serif;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;

}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
.welcome{
  margin-bottom: 7%;
  font-family: 'Farro', sans-serif;
}
.welcome02{
  margin-bottom: 2%;
  font-family: 'Farro', sans-serif;
}

/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120%;

}
.btnForm{
  margin-left: -40%;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(338, 56%, 33%) 0%,
    hsl(338, 52%, 49%) 8%,
    hsl(338, 52%, 49%) 92%,
    hsl(338, 56%, 33%) 100%
  );
}

.button-82-front {
  width: 120%;
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: 	hsl(338, 56%, 53%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 22px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1.5px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}